extends layout

block content
	h1= title
	p Die Ver채nderung der politischen Gewalt in Deutschland 체ber die Zeit
	div#dialog-start(title="ACHTUNG")
		p
			span(clas="ui-icon ui-icon-circle-check",style="float: left; margin: 0 7px 50px 0;")
				|Die Daten m체ssen nicht die Realit채t widerspiegeln
		p :(
	script
		$(function() {
			$( "#dialog-start" ).dialog({
				modal: true,
				buttons: {
					Weiter: function() {
						$( this ).dialog( "close" );
					}
				}
			});
		});

		//d3-Kram
		var margin = {top: 20, right: 80, bottom: 30, left: 50},
			width = 960 - margin.left - margin.right,
			height = 500 - margin.top - margin.bottom;

		var parseDate = d3.time.format("%Y-%m-%d").parse;

		var x = d3.time.scale()
			.range([0, width]);

		var y = d3.scale.linear()
			.range([height, 0]);

		var color = d3.scale.category10();

		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom");

		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left");

		var line = d3.svg.line()
			.interpolate("basis")
			.x(function(d) { return x(d.monat); })
			.y(function(d) { return y(d.anzahl); });

		var svg = d3.select("body").append("svg")
			.attr("width", width + margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
			.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		d3.tsv("../data/Politische_Gewalt.tsv", function(error, data) {
			color.domain(d3.keys(data[0]).filter(function(key) { return key !== "monat"; }));

		data.forEach(function(d) {
			d.monat = parseDate(d.monat);
		});

		var zahlen = color.domain().map(function(name) {
			return {
				name: name,
				values: data.map(function(d) {
					return {monat: d.monat, anzahl: +d[name]};
				})
			};
		});

		x.domain(d3.extent(data, function(d) { return d.monat; }));

		y.domain([
			d3.min(zahlen, function(c) { return d3.min(c.values, function(v) { return v.anzahl; }); }),
			d3.max(zahlen, function(c) { return d3.max(c.values, function(v) { return v.anzahl; }); })
		]);

		svg.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + height + ")")
			.call(xAxis);

		svg.append("g")
			.attr("class", "y axis")
			.call(yAxis)
			.append("text")
			.attr("transform", "rotate(-90)")
			.attr("y", 6)
			.attr("dy", ".71em")
			.style("text-anchor", "end")
			.text("Vorkommen");

		var zahl = svg.selectAll(".zahl")
			.data(zahlen)
			.enter().append("g")
			.attr("class", "zahl");

		zahl.append("path")
			.attr("class", "line")
			.attr("d", function(d) { return line(d.values); })
			.style("stroke", function(d) { return color(d.name); });

		zahl.append("text")
			.datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
			.attr("transform", function(d) { return "translate(" + x(d.value.monat) + "," + y(d.value.anzahl) + ")"; })
			.attr("x", 3)
			.attr("dy", ".35em")
			.text(function(d) { return d.name; });
		});
